.contain-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 2rem;
  width: 90%;
  height: 100vh;
  padding: 4rem 0;
  padding-bottom: 2rem ;

  
  
  /*    edge://surf/     */
}
.div {
  width: 100%;
  background-color: rgb(110, 110, 110);
  height: 2px;
  color: transparent;
}

.contain-cart::-webkit-scrollbar {
  outline: none;
  width: 1px;
}

.contain-car::-webkit-scrollbar-track {
  background-color: white;
}
.contain-car::-webkit-scrollbar-thumb {
  background-color: #03032c;
}

.contain-cart::-webkit-scrollbar-track {
  border-radius: 10px;
}
.contain-cart::-webkit-scrollbar-button {
  color: #000;
}
@media (max-width: 900px) {
  .contain-cart {
    
    margin-top: 3rem;
  
  }
}
@media (min-width: 900px) {
  .contain-cart {
    padding-right: 1rem;

    
  }
}
@media screen and (max-width:900px){
  .contain-cart{
    padding: 0 0rem;
    padding-bottom: 2rem ;
  }
}